body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table tr td {
    border: 1px solid black;
}

li {
    list-style: disc;
}

img {
    width: 50px;
    vertical-align:middle;
}
.head {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}